{{!< default}}
<div class="col-md-8 index-post">
		{{! The tag below includes the post loop - partials/loop.hbs }}
		{{> "loop"}}
		{{pagination}}
</div>
<div class="col-md-4">
					<div class="sidebar-about index-sidebar">
						<h3 class="sidebar-title">作者</h3>
						<hr>
						<div class="sidebar-about-logo">
							<img src="{{@blog.logo}}">
						</div>
{{!-- 自我介绍  (about me) --}}
                        <ul class="own-intro">
                            <li><i class="iconfont icon-iphone"></i>karel0522@gmail.com</li>
                            <li>Nothing can help us endure dark times better than our faith.</li>
                        </ul>
					</div>
					<div class="index-sidebar sidebar-social-cintact">
						<h3>github</h3>
						<hr>
{{!-- 工作合作   (github) --}}
						<a href="https://github.com/Karelgit"><i class="iconfont icon-github"></i></a>
					</div>
					<div class="index-sidebar sidebar-follow">
						<h3>互粉</h3>
						<hr>
{{!-- 社交关注   (互粉) --}}
						<a href="https://www.zhihu.com/people/karel-14/activities"><i class="iconfont icon-zhihu"></i></a>
					</div>
					<div class="index-sidebar sidebar-tag">
						<h3>推荐</h3>
						<hr>
{{!-- 友情链接   (推荐链接) --}}
						<li><a href="https://www.amazon.cn/%E5%9B%BE%E4%B9%A6/dp/0062301233/ref=sr_1_1?ie=UTF8&qid=1493135783&sr=8-1&keywords=Elon+Musk" ><img src="/assets/images/elonmusk.jpeg" width="50" height="50"> Elon Musk</a></li>
					</div>
</div>
